<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.BookMapper">
	
	<!-- 缓存 -->
	<!--<cache type="PERPETUAL" eviction="LRU" flushInterval="60000" size="1024" readOnly="false"/>-->
	
	<!-- sql代码片段 -->
	<sql id="table_name"> book </sql>
	<sql id="table_clumns"> id,userid,name </sql>
	
	<!-- 结果映射关系 -->
	<resultMap id="BookResultMap" type="book">
		<id column="b_id" property="id"/>
		<result column="userid" property="userid"/>
		<result column="name" property="name"/>
		<association property="user" javaType="User">
			<id column="u_id" property="id"/>
			<result column="username" property="username"/>
			<result column="password" property="password"/>
			<result column="nickname" property="nickname"/>
			<result column="sex" property="sex"/>
			<result column="ctime" property="ctime"/>
		</association>
	</resultMap>
	
	<!-- 查询一对多的所有记录 -->
	<select id="getUser" resultMap="BookResultMap" parameterType="int">
		select
			b.id b_id,b.userid,b.name,
			u.id u_id,u.username,u.password,u.nickname,u.sex,u.ctime
		from
			<include refid="table_name"/> b
		left join
			user u
		on
			b.userid=u.id
		where
			b.id=#{id,jdbcType=INTEGER}
	</select>
	
	<!-- 根据id查单条记录 -->
	<select id="get" resultMap="BookResultMap" parameterType="int">
		select
			<include refid="table_clumns"/>
		from
			<include refid="table_name"/>
		where
			id=#{id,jdbcType=INTEGER}
	</select>

	<!-- 获取总记录 -->
	<select id="count" resultType="long" parameterType="java.lang.String">
		select
			count(*)
		from
			<include refid="table_name"/>
		<where>
			<if test="_parameter!=null and _parameter!=''">${_parameter}</if>
		</where>
	</select>
	
	<!-- 查询所有记录 -->
	<select id="getAll" resultType="book" parameterType="java.util.Map">
		select
			<choose>
				<when test="clumns != null">${clumns}</when>
				<otherwise>
					<include refid="table_clumns"/>
				</otherwise>
			</choose>
		from
			<include refid="table_name"/>
		<where>
			<if test="condition != null and condition != ''">${condition}</if>
		</where>
		order by
			<choose>
				<when test="order != null and order != ''">${order}</when>
				<otherwise>id asc</otherwise>
			</choose>
	</select>
	
	<!-- 插入单条记录 -->
	<insert id="insert" parameterType="book">
		insert into
			<include refid="table_name"/>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null">userid,</if>
			<if test="name != null">name,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userid != null">#{userid,jdbcType=INTEGER},</if>
			<if test="name != null">#{name,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	
	<!-- 插入单条记录，插入前建好id索引 -->
	<insert id="insertAutoKey" useGeneratedKeys="true" keyProperty="id" parameterType="book">
		insert into
			<include refid="table_name"/>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="userid != null">userid,</if>
			<if test="name != null">name,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=INTEGER},</if>
			<if test="userid != null">#{userid,jdbcType=INTEGER},</if>
			<if test="name != null">#{name,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	
	<!-- 根据id删除单条记录 -->
	<delete id="delete" parameterType="int">
		delete from
			<include refid="table_name"/>
		where
			id=#{id,jdbcType=INTEGER}
	</delete>
	
	<!-- 修改单条记录 -->
	<update id="update" parameterType="book">
		update
			<include refid="table_name"/>
		<set>
			<if test="userid != null">userid=#{userid,jdbcType=INTEGER},</if>
			<if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
		</set>
		where
			id=#{id,jdbcType=INTEGER}
	</update>
	
</mapper>