<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.UserMapper">
	
	<!-- 缓存 -->
	<!--<cache type="PERPETUAL" eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>-->
	
	<!-- sql代码片段 -->
	<sql id="table_name"> user </sql>
	<sql id="table_clumns"> id,username,password,nickname,sex,ctime </sql>
	
	<!-- 结果映射关系 -->
	<resultMap id="UserResultMap" type="user">
		<id column="u_id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="nickname" property="nickname"/>
		<result column="sex" property="sex"/>
		<result column="ctime" property="ctime"/>
		<collection column="userid" property="books" ofType="Book">
			<id column="b_id" property="id"/>
			<result column="userid" property="userid"/>
			<result column="name" property="name"/>
		</collection>
	</resultMap>
	
	<!-- 查询一对多的所有记录 -->
	<select id="getBooks" resultMap="UserResultMap" parameterType="int">
		select
			u.id u_id,u.username,u.password,u.nickname,u.sex,u.ctime,
			b.id b_id,b.userid,b.name
		from
			<include refid="table_name"/> u
		left join
			book b
		on
			u.id=b.userid
		where
			u.id=#{id,jdbcType=INTEGER}
	</select>
	
	<!-- 根据id查单条记录 -->
	<select id="get" resultType="user" parameterType="int">
		select
			<include refid="table_clumns"/>
		from
			<include refid="table_name"/>
		where
			id=#{id,jdbcType=INTEGER}
	</select>
	
	<!-- 获取总记录 -->
	<select id="count" resultType="long" parameterType="java.lang.String">
		select
			count(*)
		from
			<include refid="table_name"/>
		<where>
			<if test="_parameter!=null and _parameter!=''">${_parameter}</if>
		</where>
	</select>

	<!-- 查询所有记录 -->
	<select id="getAll" resultType="user" parameterType="java.util.Map">
		select
			<choose>
				<when test="clumns != null">${clumns}</when>
				<otherwise>
					<include refid="table_clumns"/>
				</otherwise>
			</choose>
		from
			<include refid="table_name"/>
		<where>
			<if test="condition != null and condition != ''">${condition}</if>
		</where>
		order by
			<choose>
				<when test="order != null and order != ''">${order}</when>
				<otherwise>id asc</otherwise>
			</choose>
	</select>
	
	<!-- 插入单条记录 -->
	<insert id="insert" parameterType="user">
		insert into
			<include refid="table_name"/>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username != null">username,</if>
			<if test="password != null">password,</if>
			<if test="nickname != null">nickname,</if>
			<if test="sex != null">sex,</if>
			<if test="ctime != null">ctime,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="username != null">#{username,jdbcType=VARCHAR},</if>
			<if test="password != null">#{password,jdbcType=VARCHAR},</if>
			<if test="nickname != null">#{nickname,jdbcType=VARCHAR},</if>
			<if test="sex != null">#{sex,jdbcType=INTEGER},</if>
			<if test="ctime != null">#{ctime,jdbcType=BIGINT},</if>
		</trim>
	</insert>
	
	<!-- 插入单条记录，插入前建好id索引 -->
	<insert id="insertAutoKey" useGeneratedKeys="true" keyProperty="id" parameterType="user">
		insert into
			<include refid="table_name"/>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="username != null">username,</if>
			<if test="password != null">password,</if>
			<if test="nickname != null">nickname,</if>
			<if test="sex != null">sex,</if>
			<if test="ctime != null">ctime,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=INTEGER},</if>
			<if test="username != null">#{username,jdbcType=VARCHAR},</if>
			<if test="password != null">#{password,jdbcType=VARCHAR},</if>
			<if test="nickname != null">#{nickname,jdbcType=VARCHAR},</if>
			<if test="sex != null">#{sex,jdbcType=INTEGER},</if>
			<if test="ctime != null">#{ctime,jdbcType=BIGINT},</if>
		</trim>
	</insert>
	
	<!-- 根据id删除单条记录 -->
	<delete id="delete" parameterType="int">
		delete from
			<include refid="table_name"/>
		where
			id=#{id,jdbcType=INTEGER}
	</delete>
	
	<!-- 修改单条记录 -->
	<update id="update" parameterType="user">
		update
			<include refid="table_name"/>
		<set>
			<if test="username != null">username=#{username,jdbcType=VARCHAR},</if>
			<if test="password != null">password=#{password,jdbcType=VARCHAR},</if>
			<if test="nickname != null">nickname=#{nickname,jdbcType=VARCHAR},</if>
			<if test="sex != null">sex=#{sex,jdbcType=INTEGER},</if>
			<if test="ctime != null">ctime=#{ctime,jdbcType=BIGINT}</if>
		</set>
		where
			id=#{id,jdbcType=INTEGER}
	</update>
	
</mapper>